[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/iree-org/iree.git

[submodule "third_party/tt-metal"]
	path = third_party/tt-metal
	url = https://github.com/tenstorrent/tt-metal.git
